* {
    margin: 0;
    padding: 0;
}

header{
    height: 50px;
}

body{
    background-color: green;
}

.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.secJugador{
    margin: 0rem;
    justify-content: center;
    align-items: center;
}

.secTiroRuleta{
    margin: 1rem;
    justify-content: center;
    align-items: center;
}


.colorApostado{
    display: flex;
    flex-direction: column;
}

.ruleta{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(13, 1fr);    

}

img{
    width: 50px;
}

button{
    padding: 0.5rem;
    font-size: small;
    background-color: green;
    border-width: thin;
    border-color: white;
    color: white;
    
    /*border-radius: 2rem;*/
}

.fichitas{
    font-size: xx-small;
}

/*.tamaFicha{
    width: 1rem;
}*/

.botonColorRojo{
    background-color: red;
}

.botonColorNegro{
    background-color: black;

}

/*.colorFichas{
    color: blue;
}*/

.but__cero{
    grid-column: 3 / 6;
}

.but__par{
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}

.but__rojo{
    grid-column: 1 / 2;
    grid-row: 5 / 8;
}

.but__negro{
    grid-column: 1 / 2;
    grid-row: 8 / 11;
}

.but__impar{
    grid-column: 1 / 2;
    grid-row: 11 / 14;
}

.but__primera{
    grid-column: 2 / 3;
    grid-row: 2 / 6;
    
}

.but__segunda{
    grid-column: 2 / 3;
    grid-row: 6 / 10;

    
}

.but__tercera{
    grid-column: 2 / 3;
    grid-row: 10 / 14;
    
}

/* CLASES PRUEBA TERNARIO */

.pocasFichas{
    color : yellow;
}

.muchasFichas{
    color : black;
}